body {
	background-image: url(assets/space.jpg);
}

h1 {
	font-family: 'Space Mono', monospace;
	color:#5cb85c;
	font-size:80px;
}
#animal-view{
	margin-left: 100px;
	margin-top: 20px;

}
label {
	color:#337ab7;
}

#results{
	margin-left: 100px;
	margin-top: 20px;
	color: white;
}


